body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

header, footer {
    background-color: burlywood;
}

header, main {
    margin-bottom: 20px;
}

footer {
    margin-top: auto;
    padding: 10px 20px;
    font-size: 18px;
}

header, main, footer {
    padding-inline: 20px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 15px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 3vw;
    row-gap: 20px;
}

.flex-row > div {
    padding: 5px;
}

h3 {
    display: block;
    width: max-content;
    text-align: center;
    margin-block: 15px;
}

.flex h3 {
    margin-inline: auto;
}

div > label:first-of-type {
    margin-right: 10px;
}

div > label:last-of-type {
    margin-left: 10px;
}

button {
    padding-block: 5px;
    padding-inline: 10px;
    margin-block: 10px;
    width: fit-content;
    margin-inline: auto;
}

select {
    width: fit-content;
    margin-inline: auto;
    padding: 3px;
}

label, select {
    font-size: 18px;
}

input {
    font-size: 16px;
}

table {
    width: fit-content;
    margin-inline: auto;
    border-spacing: 0;
    background-color: white;
}

table td {
    width: 5ch;
    padding: 3px;
}

table:has(input) td {
    padding: 1px;
}

table input {
    -moz-appearance: textfield;
    appearance: textfield;
    width: inherit;
    font-size: 14px;
    padding: 1px 2px;
}

table input::-webkit-outer-spin-button,
table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

td {
    width: fit-content;
    text-align: center;
    border: 1px solid black;
}

td.index {
    font-weight: bold;
    background-color: color(srgb 0.9 0.9 0.9);
}

#matricesInputs div, #results {
    border-radius: 5px;
}

#matrixAInputs {
    background-color: aquamarine;
}

#matrixBInputs {
    background-color: bisque;
}

#results {
    background-color: greenyellow;
}

.buttons {
    justify-content: center;
}

.buttons > button {
    margin-inline: 5px;
}

.hide {
    display: none;
}
